@media screen and (max-width:576px) {
    main{
        margin: 0 20px;
    }

    .nav-bar{
        flex-direction: column;
        gap: 20px;
    }
    .nav-options{
        flex-direction: column;
    }
    .nav-options p{
        margin-bottom: 20px;
    }

    .banner{
        flex-direction: column-reverse;
    }
    .banner-right{
        width: 100%;
    }

    .banner-left{
        width: 100%;
    }

    .gamer{
        flex-direction: column;
    }

    .gamer-img{
        width: 100%;
    }

    .gamer-content{
        width: 100%;
        align-items: center;
    }

    .gamer-content p{
        text-align: center;
    }

    .gamer-content h3{
        font-size: 24px;
    }

    .videos{
        flex-direction: column;
    }

    .video-tittle h1{
        font-size: 26px;
    }
}